a:link {
    color: blue;
}


/* unvisited link */

a:visited {
    color: blue;
}


/* visited link */

a:hover {
    color: blue;
}


/* mouse over link */

a:active {
    color: blue;
}


/* selected link */